<h1 class='center'>Current Balances</h1>

<div class="balances">
  <%= render partial: 'transactions', locals: { category: 'Short term', accounts: @accounts.short_term } %>
  <%= render partial: 'transactions', locals: { category: 'Long term', accounts: @accounts.long_term } %>
  <%= render partial: 'transactions', locals: { category: 'Property', accounts: @accounts.property } %>
</div>

<br>
<h2 class="center">
  <div class="balances">
    <div class="balance no-border">
      <div class="balance__account">
        <div class="balance__account-name">
          Net worth:
        </div>
        <% total = total_current_balance(@accounts) %>
        <div class="balance__account-amount <%= red_or_green(total) %>">
          <%= number_to_currency total, unit: '£', strip_insignificant_zeros: true %>
        </div>
      </div>
    </div>
  </div>
</h2>

